.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("https://i.pinimg.com/originals/11/3d/93/113d937e06fcdd28172766336578c87d.png");
    background-size: cover;
    color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

.footer{
    background-color: lightgray;
}

.togetherRow{
display: flex;
}

#red{
    color: red;
}